import streamlit as st
import pandas as pd
import requests
import time

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
import speech_recognition as sr

import logging

from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry

import plotly.express as px

from fuzzywuzzy import process

import uuid